$section_background_color: #eff1f5;
$number_color_higest:#e3e4eb;
$header_color_h3:#e3b886;
$text_color:#395084;
$randomNumber :random(300);

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }
}
@keyframes floating2 {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, -15px); }
  to   { transform: translate(0, -0px); }
}
@keyframes circle {
  from { transform: translate(0,  0px); }
  50%  { transform: translate(-50px, -50px); }
  to   { transform: translate(0, -0px); }
}
@keyframes circle2 {
  from { transform: translate(0,  0px); }
  50%  { transform: translate(-50px, 0px); }
  to   { transform: translate(0, -0px); }
}
@keyframes latidos {
  from { transform: none; }
  50% { transform: scale(1.2); }
  to { transform: none; }
}

@media screen and (min-width: 10px) and (max-width: 1023px) {

  .health_section {
    height: 1700px;
    display: block;
    width: 100%;
    background: $section_background_color url("../images/section4.png") right no-repeat;
    z-index: 8;
    .content {
      z-index: 15;
      width: 100%;
      height: auto;
      display: block;
      position: absolute;

      .health_hed1 {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 45pt;
        font-weight: 100;
        color: $number_color_higest;
        text-transform: uppercase;
        font-family: "Museo Sans Cyrl 100";
        float: left;

      }
      .health_hed2 {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 45pt;
        font-weight: 700;
        color: $number_color_higest;
        text-transform: uppercase;
        font-family: "Museo Sans Cyrl 700";

      }
    }
  }
  .img_animate {
    position: absolute;
    z-index: 10;

    //1700
    &:nth-child(1) {
      margin-top: 400px;

      animation-name: circle;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    &:nth-child(2) {
      margin-top: 970px;
      margin-left: 60px;
      animation-name: latidos;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    &:nth-child(3) {
      margin-top: 900px;
      z-index: 1;
      animation-name: floating;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    &:nth-child(4) {
      animation-name: floating2;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      margin-left: 60px;
    }
    &:nth-child(5) {
      animation-name: circle2;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      margin-top: 800px;
      margin-left: 30px;
    }
  }

  .module {

    margin-left: 5%;
    width: 90%;
    height: auto;
    float: left;
    display: inline-block;
    transition: all 0.5s linear;
    &:hover {
      border-radius: 30px;
      -webkit-box-shadow: 10px 10px 146px -24px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 146px -24px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 146px -24px rgba(0, 0, 0, 0.75);
      background: rgba(212, 228, 239, 0.7);
      margin-left: 2%;
      padding: 10px;
      h2 {
        color: white;
      }
    }
    h2 {
      margin: 0;
      padding: 0;
      color: $number_color_higest;
      font-size: 100pt;
    }

    h3 {
      margin: 0;
      padding: 0;
      color: $header_color_h3;
      font-size: 24pt;
      text-transform: uppercase;
    }
    p {
      font-size: 14pt;
      color: $text_color;
    }
  }
}

@media screen and (min-width: 600px) {
  .module {
    &:nth-child(even) {
      margin-top: 150px;
    }
    margin-left: 5%;
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {

  .health_section{
    height: 1750px;
    display: block;
    width: 100%;
    background: $section_background_color url("../images/section4.png") right no-repeat ;
    z-index: 8;
    .content{
      z-index: 15;
      width: 80%;
      height: 100%;
      position: absolute;
      margin-left: 10%;
      .head {
        margin-top: 170px;

        .health_hed1 {
          font-size: 120pt;
          font-family: "Museo Sans Cyrl 100";

          color: $number_color_higest;
          text-transform: uppercase;
          display: block;
          float: left;
        }
        .health_hed2 {
          font-family: "Museo Sans Cyrl 700";

          font-size: 120pt;
          font-weight: 700;
          color: $number_color_higest;
          text-transform: uppercase;
          margin-left: 50px;
          display: inline;

        }
      }
    }
  }
  .img_animate{
    position: absolute;
    z-index: 10;


    &:nth-child(1){
      margin-top: 100px;
      margin-left: 50%;
      animation-name: circle;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    &:nth-child(2){
      margin-top: 500px;
      margin-left: 10%;
      animation-name: latidos;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    &:nth-child(3){
      margin-top: 400px;
      z-index: 1;
      animation-name: floating;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    &:nth-child(4){
      animation-name: floating2;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      margin-left: 70%;
      margin-top: 100px;
    }
    &:nth-child(5){
      animation-name: circle2;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      margin-top: 400px;
      margin-left: 30%;
    }
  }
  .autowide {
    margin-top: 70px;
    .module {
      &:nth-child(even) {
        margin-top: 350px;
      }
      margin-left: 2%;
      margin-right: 2%;
      width: 20%;
      height: 50%;
      float: left;
      display: inline-block;

      h2 {
        margin: 0;
        padding: 0;
        color: $number_color_higest;
        font-size: 100pt;
        font-family: "Museo Sans Cyrl 700";
      }

      h3 {

        margin: 0;
        padding: 0;
        color: $header_color_h3;
        font-size: 24pt;
        text-transform: uppercase;
        font-family: "Museo Sans Cyrl 700";
        margin-top: -5px;
      }
      p {
        margin-top: 30px;
        font-size: 14pt;
        color: $text_color;
        font-family: "Museo Sans Cyrl 100";
        line-height: 20pt;
      }
    }
  }
}

@media screen and (min-width: 1800px) {
  .img_animate{
    position: absolute;
    z-index: 10;

    //1300px
    &:nth-child(1){
      margin-top: 1000px;
      margin-left: 50%;
      animation-name: circle;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    &:nth-child(2){
      margin-top: 500px;
      margin-left: 10%;
      animation-name: latidos;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    &:nth-child(3){
      margin-top: 400px;
      z-index: 1;
      animation-name: floating;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    &:nth-child(4){
      animation-name: floating2;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      margin-left: 70%;
      margin-top: 100px;
    }
    &:nth-child(5){
      animation-name: circle2;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      margin-top: 500px;
      margin-left: 30%;
    }
  }
  .health_section{
    height: 1300px;
  }
}