$header-color: #fceace;
$slider-color: #395084;
@-webkit-keyframes fast {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-100px, 200px);
    transform: translate(-100px, 200px);
  }
  to {
    -webkit-transform: translate(-0px, 0);
    transform: translate(-0px, 0);
  }
}
@keyframes fast {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-100px, 200px);
    transform: translate(-100px, 200px);
  }
  to {
    -webkit-transform: translate(-0px, 0);
    transform: translate(-0px, 0);
  }
}

@-webkit-keyframes fast2 {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-100px, 500px);
    transform: translate(-100px, 500px);
  }
  to {
    -webkit-transform: translate(-0px, 0);
    transform: translate(-0px, 0);
  }
}

@keyframes fast2 {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-100px, 500px);
    transform: translate(-100px, 500px);
  }
  to {
    -webkit-transform: translate(-0px, 0);
    transform: translate(-0px, 0);
  }
}

@-webkit-keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, -0px);
    transform: translate(0, -0px);
  }
}

@keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, -0px);
    transform: translate(0, -0px);
  }
}

@-webkit-keyframes latidos {
  from {
    -webkit-transform: none;
    transform: none;
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes latidos {
  from {
    -webkit-transform: none;
    transform: none;
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@mixin format-text($size, $color, $family) {
  font-size: $size;
  color: $color;
  font-family: $family;
}

@mixin create-animation-img($marg_top,$marg_left,$name-animation,$second) {
  margin-top: $marg_top;
  margin-left: $marg_left;
  -webkit-animation-name: $name-animation;
  animation-name: $name-animation;
  -webkit-animation-duration: $second;
  animation-duration: $second;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@mixin slider-button($m_left,$m_left2,$m_top) {
  .testimonials-control {
    display: block;
    position: absolute;
    margin-left: $m_left;
    margin-top: $m_top;
    &:nth-child(2) {
      margin-left: $m_left2;
    }
  }
  .testimonials-control div {
    position: absolute;
    z-index: 10;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-bottom: 3px solid #7a6968;
    border-left: 3px solid #7a6968;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #testimonials-r {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}

@mixin img-slider-circle($wid , $hei, $m-left) {
  width: $wid;
  height: $hei;
  margin-left: $m-left;
  background: url("../images/people_img.png") center no-repeat;
  background-size: cover;
  position: absolute;
}

@media screen and (max-width: 1323px) {
  .img_animate2 {
    position: absolute;
    z-index: 10;
    &:nth-child(1) {
      display: none;
    }
    &:nth-child(2) {
      @include create-animation-img(300px, 0%, floating, 3s);
    }
    &:nth-child(3) {
      display: none;
    }
    &:nth-child(4) {
      display: none;
    }
    &:nth-child(5) {
      display: none;
    }
    &:nth-child(6) {
      @include create-animation-img(880px, 5%, latidos, 5s);
    }
  }
  .header-section {
    margin-top: 110px;
    width: 80%;
    margin-left: 10%;

    display: inline-block;
    text-align: center;

    .first-section-word {
      font-family: "Museo Sans Cyrl 700";
      text-transform: uppercase;
      font-size: 48px;
      display: block;
      color: #fceace;
      width: 100%;
      text-align: center;
      margin: 0px;
    }
    .second-section-word {
      display: block;
      margin: 0 auto;
      text-transform: uppercase;
      width: 100%;
      font-size: 48px;
      font-family: "Museo Sans Cyrl 100";
      color: #fceace;
      text-align: center;
    }
  }
  .slider-container {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 15;
    margin-top: 70px;
    @include slider-button(33%, 64%, -30px);
    .img_circle {
      @include img-slider-circle(140px, 140px, 5%);
      margin-top: 60px;
    }
    .text-slider-content {
      width: 90%;
      margin-left: 3%;
      min-height: auto;
      border-radius: 15%;
      border: 2px solid #c3d4f3;
      background: -webkit-linear-gradient(45deg, rgba(212, 228, 239, 0.6) 0%, rgba(134, 174, 204, 0.6) 100%);
      background: -o-linear-gradient(45deg, rgba(212, 228, 239, 0.6) 0%, rgba(134, 174, 204, 0.6) 100%);
      background: linear-gradient(45deg, rgba(212, 228, 239, 0.6) 0%, rgba(134, 174, 204, 0.6) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1);
      .slider-human-name {
        @include format-text(24px, #395084, "Museo Sans Cyrl 500");
        text-align: center;
        margin-top: 105px;
        display: inline-block;
        width: 30%;
        margin-left: 60%;
        margin-bottom: 0px;
      }
      .slider-description-text {
        @include format-text(18px, #395084, "Museo Sans Cyrl 100");
        text-align: center;
        margin-top: 100px;
        line-height: 25px;
        width: 90%;
        margin-left: 4%;
        padding: 5px;
        overflow: visible;
        display: inline-block;
        margin-bottom: 30px;
      }
    }
    .slider {
      overflow: hidden;
      width: 100%;
      margin: 0 auto;
      height: auto;
      z-index: 7;
      .comma-slider_big {
        display: none;
      }
    }
    .slider ul {
      list-style: none;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      padding: 0;
    }
    .slider ul li {
      display: block;
      width: 100%;
    }
  }
}

@media screen and (min-width: 800px) {
  .slider-container {
    .text-slider-content {
      margin-left: 4%;
      border-radius: 30%;
    }
  }
}

@media screen and (min-width: 1324px) {

  .img_animate2 {
    position: absolute;
    z-index: 10;
    &:nth-child(1) {
      @include create-animation-img(30px, 75%, fast, 10s);
    }
    &:nth-child(2) {
      @include create-animation-img(500px, 0%, floating, 3s);
    }
    &:nth-child(3) {
      @include create-animation-img(490px, 90%, floating, 3s);
      width: 10%;
    }
    &:nth-child(4) {
      @include create-animation-img(250px, 20%, fast2, 15s);
    }
    &:nth-child(5) {
      @include create-animation-img(830px, 57%, latidos, 5s);
      z-index: 25;
    }
    &:nth-child(6) {
      @include create-animation-img(1180px, 5%, latidos, 5s);
    }
  }
  #contact {
    width: 100%;
  }
  .header-section {

    width: 1220px;
    left: 50%;
    position: absolute;
    margin-left: -610px;
    display: inline-block;
    .first-section-word {
      @include format-text(120px, $header-color, "Museo Sans Cyrl 700");
      text-transform: uppercase;
      float: left;
    }
    .second-section-word {
      @include format-text(120px, $header-color, "Museo Sans Cyrl 100");
      font-weight: 100;
      text-transform: uppercase;
      margin-left: 50px;
      float: left;
    }
  }

  .slider-container {
    position: relative;
    width: 100%;
    height: 1000px;
    z-index: 15;
    margin-top: 270px;
    @include slider-button(15%, 80%, 380px);
    .img_circle {
      @include img-slider-circle(150px, 150px, 425px);
    }
    .text-slider-content {
      max-width: 586px;
      min-height: 586px;
      border-radius: 100%;
      background-color: #eff1f5;
      margin-top: 80px;
      margin-left: 207px;
      .slider-human-name {
        @include format-text(24px, $slider-color, "Museo Sans Cyrl 500");
        text-align: center;
        margin-top: 120px;
        display: inline-block;
        width: 20%;
        margin-left: 40%;
        margin-bottom: 0px;
      }
      .slider-description-text {
        @include format-text(18px, $slider-color, "Museo Sans Cyrl 100");
        text-align: center;
        margin-top: 30px;
        line-height: 40px;
        width: 122%;
        margin-left: -12%;
        overflow: visible;
        display: inline-block;
      }
    }
    .slider {
      overflow: hidden;
      max-width: 1000px;
      margin: 0 auto;
      height: auto;
      z-index: 7;
      .comma-slider_big {
        @include format-text(767px, #eff1f5, "Museo Sans Cyrl 100");
        position: absolute;
        margin-top: -70px;
        margin-left: 50px;
      }
    }
    .slider ul {
      list-style: none;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      overflow: hidden;
      padding: 0;
    }
    .slider ul li {
      display: block;
      width: 100%;
    }
  }
}

@media screen and (min-width: 1800px) {
  .slider-container {
    .testimonials-control {
      margin-left: 25%;
      &:nth-child(2) {
        margin-left: 73%;
      }
    }
  }
}