$header_background_color: #c6d6f2;
$site_background: #fff;

@media screen and (min-width: 320px) {


  .header{
    width: 100%;
    height: 960px;
  }
  .header_blue_fon{
    width: 100%;
    min-height: 960px;
    background-image: url("../images/header_image.png")  ;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .triangle-bottomright {
    position: absolute;
    margin-top: 190px;
    width: 100%;
    height: 770px;
    background-color: $site_background;
    -webkit-clip-path: polygon(100% 2%, 100% 1%, 100% 100%, 0 100%);
    clip-path: polygon(100% 2%, 100% 1%, 100% 100%, 0 100%);
  }


}
