%section#about_section.section2-about-site
  %main.section2-div-text_center
    %div.text_format
      The health benefits of walnuts include reduction of bad cholesterol in the body,
      improvement in metabolism, and control of diabetes.
      Other important health benefits of walnuts stem from the fact that these nuts
      possess anti-inflammatory properties, aid in weight management, and help as
      a mood booster. They are also believed to slow down the spread of cancer
  %aside.section2-about-site-img_left
  %aside.section2-about-site-img_raigth