%div.footer#buy_nuts
  %div.footer_treangl

  %div.footer_header
    .h33 buy
    .h44 walnuts
    %div.table_first_header
      .h55 Choose your walnut buying plan
      .underline_head_text
  %div.tablet
    %table.mobile_table
      %tr
        %td A Walnut
      %tr
        %td
          .p1 7
          .p2 $
      %tr
        %td
          %ul
            %li Duis aute irure dolor in reprehenderit
            %li Excepteur sint occaecat cupidatat on
            %li Sed ut perspiciatis unde omnis iste   natus
      %tr
        %td
          %div.footer_button Buy
      %tr
        %td Walnut+
      %tr
        %td
          .p1 12
          .p2 $
      %tr
        %td
          %ul
            %li Duis aute irure dolor in reprehenderit
            %li Excepteur sint occaecat cupidatat on
            %li Sed ut perspiciatis unde omnis iste   natus
            %li Aperiam, eaque ipsa quae ab illo
      %tr
        %td
          %div.footer_button Buy
      %tr
        %td Walnut group
      %tr
        %td
          .p1 24
          .p2 $
      %tr
        %td
          %ul
            %li Duis aute irure dolor in reprehenderit
            %li Excepteur sint occaecat cupidatat on
            %li Sed ut perspiciatis unde omnis iste   natus
            %li Aperiam, eaque ipsa quae ab illo
            %li Beatae vitae dicta sunt explicabo.
      %tr
        %td
          %div.footer_button Buy

    %table.pc_table
      %tr
        %td A Walnut
        %td Walnut+
        %td Walnut group
      %tr
        %td
          .p1 7
          .p2 $
        %td
          .p1 12
          .p2 $
        %td
          .p1 24
          .p2 $
      %tr
        %td
          %ul
            %li  Duis aute irure dolor in reprehenderit
            %li Excepteur sint occaecat cupidatat on
            %li Sed ut perspiciatis unde omnis iste   natus
        %td
          %ul
            %li  Duis aute irure dolor in reprehenderit
            %li Excepteur sint occaecat cupidatat on
            %li Sed ut perspiciatis unde omnis iste   natus
            %li Aperiam, eaque ipsa quae ab illo

        %td
          %ul
            %li  Duis aute irure dolor in reprehenderit
            %li Excepteur sint occaecat cupidatat on
            %li Sed ut perspiciatis unde omnis iste   natus
            %li Aperiam, eaque ipsa quae ab illo
            %li Beatae vitae dicta sunt explicabo.



      %tr
        %td
          %div.footer_button Buy
        %td
          %div.footer_button Buy
        %td
          %div.footer_button Buy