%div.health_section
  %img.img_animate{:src => "/images/1nutshover.png"}
  %img.img_animate{:src => "/images/2nutshover.png"}
  %img.img_animate{:src => "/images/3nutshover.png"}
  %img.img_animate{:src => "/images/4nutshover.png"}
  %img.img_animate{:src => "/images/5nutshover.png"}
  %div.content
    %div.head
      .health_hed1 health
      .health_hed2 benefits
    .autowide
      .module
        %h2 1
        %h3 weight loss
        %p The almount of fat, calories and carbohydrate content found in walnuts is about 18 grams, resprctively per 1 ounce. Therefore, it is believed that walnut consumption may result in weigth gain.
      .module
        %h2 2
        %h3 regular sleep
        %p Want a good night’s sleep? Eat some walnuts soaked in water before sleeping, or eat a salad or any dish using walnuts as toppings. Melatonin, a hormone that helps induce and regulate sleep, is availablein them in a bio-available form. Thus, they help make for a perfect dinner that leads you to a great, restful sleep.
      .module
        %h2 3
        %h3 skin care
        %p Rich in gamma-tocopherol, walnuts are also a good source of vitamin E, which is a strong lipid-soluble antioxidant. The vitamin E present in them helps in maintaining and protecting the skin from free radicals that are harmful in nature.
      .module
        %h2 4
        %h3 prevent cancer
        %p Some of the components present in walnuts have the capability of controlling the growth of cancer cells in the body.
