%header
  .header_blue_fon
    .header_content
      %h1.header_content_text Caring for you
      %img.header_content_img{:src => "/images/logo.png"}
      %img.header_content_img2{:src => "/images/nuts.png"}
      %a{:href => "#buy_nuts"}
        %button.red_button_float_bottom  whach video
      %section#scroll_down_button
        %a{:href => "#about_section"}
          %span
          %span

    .triangle-bottomright