%nav.navigation
  .navigation-colum-link_center
    %ul.navigation-menu-list
      %li
        %a{:href => "#about_section"}
          about us
      %li
        %a{:href => "#how_work"}
          how it works
      %li
        %a{:href => "#contact"}
          contact us
      %li.hidden_navigation_button
        %a{:href => "#buy_nuts"}
          %button.raight_navigation_button buy walnuts
  .navigation-colum-logo_left
    %img.logo_img{:src => "/images/logo.png"}
    %h1.logo_text Wally
  .navigation-colum-button_rigth
    %a{:href => "#buy_nuts"}
      %button.raight_navigation_button buy walnuts
  #open-menu-button-icon
    %span
    %span
    %span