%section.section-about-vitamin-mineral#how_work
  %div.section-about-vitamin-mineral-colum
    %ul
      %li.header-vitamins Vitamins
      %li vitamin C
      %li thiamin
      %li riboflavin
      %li vitamin K
      %li vitamin B6
      %li vitamin A
      %li vitamin B12
      %li vitamin E
  %div.section-about-vitamin-mineral-colum
    %h2.section-header_center One large walnut contains
  %div.section-about-vitamin-mineral-colum
    %ul.ul-rigth
      %li.header-vitamins Minerals
      %li Calcium
      %li Iron
      %li Magnesium
      %li Phosphorous
      %li Potassium
      %li Sodium
      %li Selemium
      %li Zinc

  .section-circle_absolute_center
    %div.badge
      %h4#text_rotate 1 walnut - 30 g

    %img.img-in_absolute_circle{:src => "/images/golovne.png"}

    %ul.menu
      %li.spread
        %div.unit
          %div.p1 3.9 g
          %div.p2 of carbohydrate
      %li.spread
        %div.unit
          %div.p1 0.74
          %div.p2 of shugar
      %li.spread
        %div.unit
          %div.p1 0.56
          %div.p2 Omega-3 acid
      %li.spread
        %div.unit
          %div.p1 4.32
          %div.p2 of protein
      %li.spread
        %div.unit
          %div.p1 1.9 g
          %div.p2 of fiber
      %li.spread
        %div.unit
          %div.p1 190
          %div.p2 calories