%div.header_section#contact
  %img.img_animate2{:src => "/images/6nutshover.png"}
  %img.img_animate2{:src => "/images/9nutshover.png"}
  %img.img_animate2{:src => "/images/8nutshover.png"}
  %img.img_animate2{:src => "/images/7nutshover.png"}
  %img.img_animate2{:src => "/images/10nutshover.png"}
  %img.img_animate2{:src => "/images/11nutshover.png"}
  .h3 Walnut
  .h4 Lovers