%div#contact
  %img.img_animate2{:src => "/images/6nutshover.png"}
  %img.img_animate2{:src => "/images/9nutshover.png"}
  %img.img_animate2{:src => "/images/8nutshover.png"}
  %img.img_animate2{:src => "/images/7nutshover.png"}
  %img.img_animate2{:src => "/images/10nutshover.png"}
  %img.img_animate2{:src => "/images/11nutshover.png"}
  .header-section
    %h3.first-section-word Walnut
    %h3.second-section-word Lovers