=partial "/partials/navigation"
=partial "/partials/header"
=partial "/partials/about-section"
=partial "/partials/section-vitamins"
=partial "/partials/health_section"
=partial "/partials/slider-header"
=partial "/partials/slider"
=partial "/partials/footer"












